**.DS_Store
*.sw[po]

# BACKEND

# compiled output
backend/dist
backend/node_modules

# logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*

# tests
backend/coverage
backend/.nyc_output

# database files
backend/data

frontend/node_modules