**.DS_Store
*.sw[po]

# BACKEND

# compiled output
dist
node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# tests
coverage
.nyc_output

# database files
data

# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.gitignore
README.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
build
