.welcome-side
{
    width: 50vw;
    min-height: 100vh;
    // min-width: 50%;
    // color: white;
}
.header
{
    background: rgba(0 0 0 / 25%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100vh;
    width: 100vw;
    z-index: 668;
    position: absolute;
    display: flex;
}